:root {
  --card-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
  /* --transition-speed: 0.1s; */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
  transition: background-color var(--transition-speed),
    color var(--transition-speed);
}

body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

.card {
  border: none;
  border-radius: 16px;
  box-shadow: var(--card-shadow);
}

.equal-height-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card i {
  width: 36px;
  height: 36px;
  margin-bottom: 10px;
  display: inline-block;
}

.card h5 {
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

.text-success {
  color: #10b981 !important;
}

.text-danger {
  color: #ef4444 !important;
}

.doughnut-container canvas {
  max-width: 150px;
  margin: 0 auto;
}
